{{ define "main" }}
<div class="post">
  <h2 class="post-title">{{.Title}}</h2>
  <div class="post-content">
    <div id="bber"></div>
  </div>
</div>
<div class="search-box">
  <input type="text" id="searchBoxInput" placeholder="搜点回忆……">
</div>
<style>
  .timeline ul {margin:0;}
  .timeline ul li {background:#3b3d42;list-style-type:none;position:relative;width:3px;margin-left:2em;padding:0.8em 0 2em;}
  .timeline ul li::after {transform: rotate(45deg);content:'';background-color: #3b3d42;display: block;position: absolute;top: 10px;left: -5px;width: 0.8em;height: 0.8em;outline: 15px solid #fff;}
  .timeline ul li div {position:relative;top:-13px;left:3em;width:670px;padding:0px 16px 0px;}
  .timeline ul li p.datatime{color: #fafafa;font-size: 0.75em;font-style: italic;background-color: #3b3d42;display: inline-block;padding:0.25em 1em 0.2em 1em;}
  .timeline ul li p.datacont{white-space: pre-wrap;margin:0.65em 0 0.3em;}
  .timeline ul li p.datacont img{display:block;max-height:340px !important;}
  .timeline ul li p.datacont img[src*="emotion"]{display:inline-block;width:auto;}
  .timeline ul li p.datafrom{color: #aaa;font-size: 0.75em !important;font-style: italic;}
  .timeline ul li p{margin:0;font-size:16px;letter-spacing:1px;color: #3b3d42;}
  button{border-radius:0;}
  .dark-theme .timeline ul li div p{color:#fafafa;}
  .dark-theme .timeline ul li div p svg{fill:#fafafa;}
  .dark-theme .timeline ul li p.datafrom{color: #aaa;}
  .dark-theme .timeline ul li{background:#3b3d42;}
  .dark-theme .timeline ul li::after{outline: 15px solid #292a2d;}
  @media (max-width:860px) {
    .timeline ul li{margin-left:0;}
    .timeline ul li div{width:calc(100vw - 75px);left:30px;}
  }
</style>
<!--<script src="https://imgcache.qq.com/qcloud/cloudbase-js-sdk/1.4.0/cloudbase.full.js"></script>
<script src="https://cdn.jsdelivr.net/gh/buddys/qq-wechat-emotion-parser@master/dist/qq-wechat-emotion-parser.min.js"></script>
<script>
  const app = cloudbase.init({
    env: "bb-f5c0f", //这里是你的环境id
    //region: "ap-guangzhou"
  })
</script>-->
<script src="https://cdn.bootcss.com/vue/2.6.11/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/leancloud-storage@4.5.3/dist/av-min.js"></script>
<script type="text/javascript">
    var {
        Query
    } = AV;
    AV.init({
        appId: "AXFk1GWAvgkbxMLcwiop3laU-MdYXbMMI", //你的 leancloud 应用 id （设置-应用keys-AppID）
        appKey: "6OdliuIxPkw778teAXiCJz2S", //你的 leancloud 应用 AppKey （设置-应用keys-AppKey）
        //serverURLs: '国际版可删除该行，否则必须在后台绑定域名并填写在此'
    });

    var query = new AV.Query('content');

    var app = new Vue({
        el: '#app',
        data: {
            page: 0,
            count: 0,
            contents: []
        },
        methods: {
            loadMore: function(event) {
                getData(++this.page);
            }
        }
    })

    function urlToLink(str) {
        var re = /(http|ftp|https):\/\/[\w-]+(.[\w-]+)+([\w-.,@?^=%&:/~+#]*[\w-\@?^=%&/~+#])?/g;;

        str = str.replace(re, function(website) {
            return "<a href='" + website + "' target='_blank'> <i class='iconfont icon-lianjie-copy'></i>链接 </a>";
        });
        return str;
    }

    function getData(page = 0) {
        query.descending('createdAt').skip(page * 20).limit(20).find().then(function(results) {
            if (results.length == 0) {
                alert('之前没 b 过了')
            } else {
                let resC = results;
                reqData = false;
                resC.forEach((i) => {
                    let dateTmp = new Date(i.createdAt);
                    i.attributes.time = `${dateTmp.getFullYear()}-${(dateTmp.getMonth() + 1) < 10 ? ('0' + (dateTmp.getMonth()+1)) : dateTmp.getMonth()+1}-${(dateTmp.getDate() + 1) < 10 ? ('0' + dateTmp.getDate()) : dateTmp.getDate()} ${(dateTmp.getHours() + 1) <= 10 ? ('0' + dateTmp.getHours()) : dateTmp.getHours()}:${(dateTmp.getMinutes() + 1) <= 10 ? ('0' + dateTmp.getMinutes()) : dateTmp.getMinutes()}`;
                    i.attributes.content = "<pre>" + urlToLink(i.attributes.content) + "</pre>";
                    app.contents.push(i);
                })
            }

        }, function(error) {});
    }

    getData(0);

    query.count().then(function(count) {
        app.count = count;
    }, function(error) {});
</script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/lmm214/bber@0.0.6/bber.js"></script>
{{ end }}
